<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="Test Log" fileName="/logs/testlog.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>

    <Loggers>
        <Logger name="TestLog" level="info" additivity="true">
            <AppenderRef ref = "console"/>
        </Logger>
        <Root level="trace">
            <AppenderRef ref="FileAppender" />
        </Root>
    </Loggers>
</Configuration>
